torch
torchsde
torchvision
torchaudio
einops
transformers>=4.28.1
tokenizers>=0.13.3
sentencepiece
safetensors>=0.4.2
aiohttp
pyyaml
Pillow
scipy
tqdm
psutil
numpy<2.0
pillow
Scipy
diffusers
accelerate>=0.30.0
transformers>=4.38.2
segment_anything
timm
addict
yapf
gdown

#non essential dependencies:
kornia>=0.7.1
spandrel
soundfile

